.header {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #f8f9fa;
  box-shadow: #a4a4a4 0px 2px 4px 0px;
}

.header-inner {
  display: flex;
  align-items: center;
  max-width: 1024px;
  height: 60px;
  padding: 0 0.8em;
  margin: 0 auto;
  font-size: 1.2em;
}

.header-nav-list {
  display: inline-block;
}

.header-nav-item {
  float: left;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  color: #c2c2c2;
  text-align: center;
  list-style: none;
}

.header-nav-item a {
  text-decoration: none;
}

.header-ham {
  display: none;
}

.menu-line {
  width: 20px;
  height: 3px;
  margin: 4px 0;
  margin-right: 0;
  background-color: #333;
}

.header-nav-item:hover {
  background: #eee;
}

.slide-menu {
  position: fixed;
  top: 0;
  right: -350px;
  width: 200px;
  height: 100vh;
  background: #f8f9fa;
  box-shadow: -5px 0 5px rgba(0,0,0,0.2);
  padding: 10px 10px;
  transition: right 0.3s ease;
  z-index: 2000;
}

.slide-menu.open {
  right: 0;
}

.slide-menu ul {
  list-style: none;
  padding: 0;
}

.slide-menu-item {
  float: left;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  color: #c2c2c2;
  text-align: center;
  list-style: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1500;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.slide-menu {
  z-index: 2000;
}

.select {
  color: #444;
}

@media screen and (max-width: 800px) {
  .header-nav-list {
    display: none !important;
  }

  .header-ham {
    display: block;
    cursor: pointer;
    margin-left: auto;
  }
}